.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 10px auto;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

 p {
  margin: 5px 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit-button,
.delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button {
  margin-right: 5px;
}

.delete-button {
  background-color: #dc3545;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}
